body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  border: solid 1px black;
  padding-left: 10%;
}

.body {
  border: solid 1px black;
  padding-left: 10%;
  height: 600px;
  border-top: none;
}

.body-info {
  border-right: 1px solid;
}

.form-detail {
  min-height: 190px;
}

form {
  padding-bottom: 20px;
}

